<div class="container">
  <h1>{{ formatTime(time) }}</h1>
  <div class="btn-group">
    <button (click)="toggle()">
      <i class="icon" 
         [ngClass]="{ 'ion-play': !started, 'ion-pause': started }">
      </i>
    </button>
    <button (click)="reset()"><i class="icon ion-refresh"></i></button>
    <button (click)="lap()">Split</button>
  </div>
    <div class="laps"
        *ngIf="timerService.laps.length > 1">
        <div class="lap"
            *ngFor="#lap of timerService.laps; #i = index; #last = last">
            
            <div>Round {{ i }}</div>
            <div>{{ formatTime(lap.startMs) }}</div>
            <div *ngIf="last">{{ formatTime(time) }}</div>
            <div *ngIf="!last">{{ formatTime(lap.endMs) }}</div>
        </div>
    </div>
</div>